@model OkulYonetim.Models.Student

<form method="post" asp-action="Update" style="margin-top:30px;">
    <input asp-for="StudentNo" hidden />
    <div class="row g-3">
        <div class="col-3">
            <label asp-for="FirtsName">İsim :</label>
            <input type="text" class="form-control" asp-for="FirtsName">
        </div>
        <div class="col-3">
            <label asp-for="LastName">Soyisim</label>
            <input type="text" class="form-control" asp-for="LastName">
        </div>
        <div class="col-3">
            <label asp-for="Age">Yaş</label>
            <input type="text" class="form-control" asp-for="Age">
        </div>
        <input class="btn btn-primary w-100" style="margin-top:35px;" type="submit" value="GÜNCELLE">
        <button type="submit" asp-action="Index" style="margin-top:5px;" class="btn btn-danger w-100">GERİ</button>

    </div>

</form>
