@model IEnumerable<OkulYonetim.Models.Lesson>

<style>
    #container {
        margin-top: 30px;
    }
</style>

<div class="container px-0" id="container">
    <div class="row gx-5" id="baslık">
        <div class="col col-6">
            <h3 class="alert-info">DERSLER LİSTESİ</h3>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Lesson" asp-action="Create" class="btn  btn-primary">YENİ DERS EKLE</a>
        </div>
    </div>
</div>

@if (Model.Count() > 0)
{
    <table class="table-primary table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">İŞLEM</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="30%">@item.Id</td>
                    <td width="30%">@item.Name</td>
                    
                    <td width="10%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Lesson" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary mx-1">GÜNCELLE</a>
                            <a asp-controller="Lesson" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger mx-1">SİL</a>

                        </div>
                    </td>

                </tr>

            }

        </tbody>
    </table>

}

